body {
    background-color: rgb(39, 39, 39);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    display: flex;
}

.card {
    width: 50rem;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
}
.card__content{
    padding: 1rem;
}

.tools {
    display: flex;
    align-items: center;
    padding: 0px 9px;
}

.circle {
    padding: 0 3px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.btn {
    width: 8rem;
    border-radius: 0.5rem;
    border-color: rgb(0, 75, 75);
    font-weight: bold;
    font-size: 1rem;
    background-color: darkcyan;
    color: white;

    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 73, 73);
}